
html, body, #mapContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5%;
  }
  
  #mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  